
{deps, [
    {gen_server2, "1.0.0"},
    {appstart, ".*"},
    {kvc, ".*"},
    {hamcrest, ".*"}
]}.

{cover_enabled, true}.
{erl_opts, [debug_info,
            warnings_as_errors,
            warn_unused_import]}.

{require_otp_vsn, "R13B04|R14"}.

%% ReTest config
{rebar_plugins, [rebar_retest_plugin]}.
{retest_testdir, "inttest"}.
{retest_verbose, true}.
{retest_loglevel, debug}.
